        body {
            font-family: 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
            /*word-wrap: break-word;*/
            align-items: left;
            /*overflow-wrap: break-word; */
            white-space: normal;
        }

        .vehicle-arrow-icon {
            font-family: 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
        }
        #map { height: 750px; width: 98%;  }

        .leaflet-tooltip.vehicle-label {
            white-space: nowrap;
            font-size: small;
            pointer-events: auto;
        }
        
        .leaflet-tooltip a {
            pointer-events: auto !important;
        }
        
        .leaflet-tooltip {
            pointer-events: auto !important;
        }
        
       .custom-station-marker .marker-containerCIRCLE {
           width: 20px;
           height: 20px;
           border-radius: 50%;
           display: flex;
           align-items: center;
           justify-content: center;
           color: white;
           font-size: 12px;
           font-weight: bold;
           border: 1px solid black;
           /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); Optional: adds a shadow */
       }

       .custom-station-marker .marker-numberCIRCLE {
           line-height: 1;
       }

       .custom-station-marker .marker-containerRECT {
           width: auto; /* Let width adjust based on text */
           min-width: 30px; 
           height: 20px;
           border-radius: 4px; 
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 0 2px; 
           color: white;
           font-size: 12px;
           font-weight: bold;
           border: 1px solid black;
       }       
       

       .custom-station-marker .marker-numberRECT {
           line-height: 1;
       }